 
 
<div class="container">
    <mat-toolbar class="mainColor"    > 
        <span class="logo lightText" routerLink="/" >Images Searcher</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon user lightText" 
        aria-hidden="false" 
        aria-label="Example user verified icon"
        routerLink="/auth" 
        routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" 
        >insert_emoticon</mat-icon>
     
    
    </mat-toolbar>

</div>
 

 

   
